:root {
  --color1: rgb(50, 18, 165);
  --color2: rgb(187, 0, 255);
}

* {
  margin: 0;
  padding: 0;
}

/* Propiedades del contenedor general */

.contenedor {
  width: 80%;
  margin: auto;
  padding: 1em;
  font-size: 14px;
}

/* Propiedades del menú */

.c1 {
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
  text-decoration: none;
  color: black;
}

/* Propiedades de la cabecera */

.c2 {
  margin: 0;
  background-color: var(--color1);
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

.c2 h1 {
 margin-bottom: 0.5em;
 height: auto;
}

.c2 h1:hover {
  color: white;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: justify;
  background-color: var(--color2);
  height: auto;
}

/* Propiedades del contenido principal */

.c3 {
  margin-top: 1em;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 70% auto;
}

#contenido {
 
}

/* Propiedades de la barra lateral */

.c4

/* Propiedades del pie de pagina */